
html {
	/*BUTTON CORNERS*/
	--corners: 5px; 

	/*PAGE WIDTH*/
	--standard: 1140px;
	--tight: 800px;
	--wide: 98vw;

	--paper: hsl(37, 32%, 92%); 

	--ink: #212121;
	--ink-alt: #424242;
	--ink-support: #757575;
	--ink-support-light: #616161;
	--ink-highlight: #3563E9;
	--ink-contrast: #FFF;
	
	--primary: #2851E3;
	--primary-light: #3563E9;
	--primary-alt: #EEEEEE;
}

@media (prefers-color-scheme: dark) {
	html {
		--paper: hsl(28, 17%, 30%); 
		--ink: #212121;
		--highlight: yellow;
	}

	.logo {
		fill: white;
	}
}
