
html {
	--black: #111111;
	--white: #FFF;

	--color: #5E321F;
	--alternate: #757575;
	--highlight: #EFF3FD;

	--shadow: rgba(0,0,0,.8);

	--corners: 10px; /* or whatevers */

	--standard: 1140px;
	--tight: 800px;
	--wide: 98vw;

	--paper: hsl(37, 32%, 92%); /* light brown */

	--ink: #212121;
	--primary: #3563E9;
}

@media (prefers-color-scheme: dark) {
	html {
		--paper: hsl(28, 17%, 30%); /* dark brown */
		--ink: #212121;
		--highlight: yellow;
	}

	.logo {
		fill: white;
	}
}
