
html {
	/*BUTTON CORNERS*/
	--corners: 5px; 

	/*PAGE WIDTH*/
	--standard: 1140px;
	--tight: 800px;
	--wide: 98vw;

	--paper: #fff; 

	--ink: #212121;
	--ink-alt: #424242;
	--ink-support: #757575;
	--ink-support-light: #616161;
	--ink-button: #9E9E9E;
	--ink-highlight: #3563E9;
	--ink-contrast: #FFF;

	--highlight: #3563E9;
	--highlight-dark: #2851E3;
	--highlight-alt: #EEEEEE;

	--gap-narrow: 15px;
	--gap-medium: 30px;
	--gap-wide: 40px;

	--margin-small: 25px;
	--margin-medium: 30px;
	--margin-large: 50px;
}

@media (prefers-color-scheme: dark) {
	html {
		--paper: #000; 
		--ink: #FFF;
	}

}
