
/* Setup */
@import 'meyer-reset.css';
@import 'setup.css';


/* Ssetings */
@import 'settings.css';

/* Structure */
@import 'structure.css';

/* Typography */
@import 'typography.css';


/* Sections and more stuff */
@import 'footer.css';
@import 'header.css';

/* Modules */
@import 'templates/modules/modules.css';

/* Components */
@import 'templates/components/components.css';


body {
	background-color: var(--paper);
	color: var(--ink);
}

inner-column {
	padding: 0 5px;
}


.heading {
	color: var(--highlight);
	margin: 50px 0;
}
