/* Setup */
@import 'meyer-reset.css';
@import 'setup.css';

/* Ssetings */
@import 'settings.css';

/* Structure */
@import 'structure.css';

/* Typography */
@import 'typography.css';

/* Sections and more stuff */
@import 'footer.css';
@import 'header.css';
@import 'templates/sections/sections.css';

/* Modules */
@import 'templates/modules/modules.css';

/* Components */
@import 'templates/components/components.css';


body {
	background-color: var(--paper);
	color: var(--ink);
}

section {
	border: 2px solid black; 
	padding: 5px;
}

a, button {
	cursor: pointer;
}

module {
	border:1px solid red; 
	display:block;
}