
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; 
} 

main {
	flex-grow: 1; 
}

inner-column {
	display: block;
	max-width: var(--standard); /* could be a variable in settings */
	margin-right: auto;
	margin-left: auto;
}


.site-header {
	position: sticky;
	top: 0;
	z-index: 5;
}
