
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; 
} 

main {
	flex-grow: 1; 
}

inner-column {
	display: block;
	max-width: var(--wide); 
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 600px) {
	inner-column {
		max-width: var(--standard);
	}
}

.site-header {
	position: sticky;
	top: 0;
	z-index: 5;
	background-color: var(--paper);
	border-bottom: 1px solid hsla(0, 0%, 100%, 0.06);
}
