
html {
	--marker: Permanent Marker, Noto Serif;
	--company-font: Inter;
	--serif: Inter;

	
}
a {
	font-family: var(--company-font);
	font-weight: 400;
	font-size: 14px;
	letter-spacing: .2px;
}


a:hover {
	text-decoration: underline;
	color: var(--highlight);
}

@media (prefers-color-scheme: dark) {
	a:hover {
		color: var(--highlight);
	}
}
/* Main header or banner text or similar */
.shout-voice {
	font-family: var(--company-font);
	font-size: 64px;
	font-weight: 700;
	line-height: 77.45px;
	letter-spacing: 1.2px;
}

/* Header text or similar */
.loud-voice {
	font-family: var(--company-font);
	font-size: 64px;
	font-weight: 500px;
	line-height: 77.45px;
	letter-spacing: 1.2px;
}
/* Sub-header text or similar */
.attention-voice {
	font-family: var(--company-font);
}

/* Paragraph text or similar */
.normal-voice {
	font-family: var(--company-font);
	font-size: 20px;
	line-height: 24.2px;
	letter-spacing: 0.2px;
}

/* Caption text or similar */
.calm-voice {
	font-family: var(--company-font);
	font-size: 16px;
	font-weight: 500;
	line-height: 19.36px;
	letter-spacing: 0.46px;
}

/* Fine print text or similar */
.quiet-voice {
	font-size: 14px;
	font-family: var(--company-font);
}


/* - - ARTICLE CARD - - */


/* - - SITE MENU - - */
mast-head a {
	font-family: var(--company-font);
	font-weight: 500;
	font-size: 14px;
	line-height: 16.94px;
	letter-spacing: .2px;
	color: var(--ink-alt);
}

:is(.calm-voice, p, li) em {
	font-style: italic;
}

:is(.calm-voice, p, li) strong {
	font-weight: 700;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
p + p {
	margin-top: 1em;
}

h2 + p {
	margin-top: 10px;
}

