
html {
	--marker: Permanent Marker, Noto Serif;
	--company-font: Inter;
	--serif: Inter;

	
}
a {
	font-family: var(--company-font);
	font-weight: 400;
	font-size: 14px;
	letter-spacing: .2px;
}


a:hover {
	text-decoration: underline;
	color: var(--highlight);
}

@media (prefers-color-scheme: dark) {
	a:hover {
		color: var(--highlight);
	}
}
/* Main header or banner text or similar */
.shout-voice {
	font-family: var(--company-font);
	font-size: clamp(40px, 8vw, 64px);
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 1.2px;
}

@media (min-width: 600px) {
	.shout-voice {
		line-height: 77.45px;
	}
}

/* Header text or similar */
.loud-voice {
	font-family: var(--company-font);
	font-size: clamp(30px, 7vw, 56px);
	font-weight: 600;
	line-height: 40px;
	letter-spacing: 0.2px;
}

@media (min-width: 600px) {
	.loud-voice {
		line-height: 67.77px;
	}
}

/* Sub-header text or similar */
.attention-voice {
	font-family: var(--company-font);
	font-size: clamp(26px, 6vw, 48px);
	font-weight: 600;
	line-height: 35px;
	letter-spacing: 0.2px;
}

@media (min-width: 600px) {
	.attention-voice {
		line-height: 58px;
	}
}
.alert-voice {
	font-family: var(--company-font);
	color: var(--ink);
	font-size: clamp(18px, 4vw, 22px);
	line-height: 27px;
	letter-spacing: 0.2px;
}

/* Paragraph text or similar */
.normal-voice {
	font-family: var(--company-font);
	font-size: clamp(16px, 3vw, 20px);
	line-height: 24px;
	letter-spacing: 0.2px;
}

/* Caption text or similar */
.calm-voice {
	font-family: var(--company-font);
	font-size: clamp(12px, 2vw, 16px);
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.2px;
}

/* Fine print text or similar */
.quiet-voice {
	font-size: 14px;
	font-family: var(--company-font);
}


/* - - ARTICLE CARD - - */


/* - - SITE MENU - - */
mast-head a {
	font-family: var(--company-font);
	font-weight: 500;
	font-size: 14px;
	line-height: 16.94px;
	letter-spacing: .2px;
	color: var(--ink-alt);
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
p + p {
	margin-top: 1em;
}

h2 + p {
	margin-top: 10px;
}

