/* STRUCTURE */
inner-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3em;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}
.instructions {
	margin: 10px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 55vw;
}

/*STRUCTRE INDEX */
.form-list li {
	padding: 5px;
}

heading {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 900px) {
	heading {
		max-width: 75%;
	}
}

error {
	display: block;
	margin: 5px;
	max-width: 400px;
}