@import 'meyer-reset.css';

* {
	box-sizing: border-box;
}

body {
	--light-blue: #d4dffd;
	background-color:  var(--light-blue);
	font-size: 20px;
	font-family: Times New Roman;
}

picture {
	display: block;
	padding: 10px;
}

picture img {
	display: block;
	width:  100%;
	height:  auto;
	border: 5px solid black;
}

nav {
	height: 100px;
}

/* STRUCTURE */
.inner-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3em;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}
.instructions {
	margin: 10px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 55vw;
}

/*STRUCTRE INDEX */
.form-list li {
	padding: 5px;
}

/* FONT STYLING */
.loud-voice {
	font-family: Times New Roman;
	font-weight: 700;
	font-size: clamp(80px, 10vw, 120px);
	margin-top: 4rem;
	margin-bottom: 6rem;
	text-align: center;
}

.regular-voice {
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}
/* FORM BOX */
::placeholder {
	text-align: center;
	line-height: 20px;
}

input{
   width: 100%;
   padding: 5px;
   margin-top: 10px;
	border: 2px solid black;
   font-size: large;
   background-color: white;
   text-align: center;
}

input:focus:not(input[type="radio"]) {
   border: none;
   color: white;
   background-color: black;
   /*line-height: 2;*/
}

/* BUTTON */
button {
	text-transform: uppercase;
	width: 150px;
	color: white;
	background-color: black;
	padding: 5px;
	margin-top: 8px;
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;


}

/* RETURNED INPUT */
span {
	font-weight: 700;
	/*text-decoration: underline;*/
}

.length {
	text-decoration: none;
	color: red;
}