@import 'meyer-reset.css';

@import 'settings.css';
@import 'structure.css';

@import 'self-checkout.css';

* {
	box-sizing: border-box;
}

/* FONT STYLING */
.loud-voice {
	font-family: Times New Roman;
	font-weight: 700;
	font-size: clamp(80px, 10vw, 120px);
	margin-top: 4rem;
	margin-bottom: 6rem;
	text-align: center;
}

.attention-voice {

}

.normal-voice {
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}
/* FORM BOX */
::placeholder {
	text-align: center;
	line-height: 20px;
}

input{
   /*width: 70%;*/
   padding: 5px;
   margin-top: 10px;
   margin-left: auto;
   margin-right: auto;
	border: 2px solid black;
   font-size: large;
   background-color: white;
   text-align: center;

}

input:focus:not(input[type="radio"]) {
   /*border: none;*/
   color: black;
   /*background-color: black;*/
   /*line-height: 2;*/
}


/* BUTTON */
button {
	font-size: 18px;
	text-transform: uppercase;
	width: 150px;
	color: white;
	background-color: black;
	padding: 5px;
	margin-top: 8px;
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;


}
/* OUTPUT */
sub-total, tax, grand-total {
	display: block;
	margin: 10px;
}
/* RETURNED INPUT */
span {
	font-weight: 700;
	/*text-decoration: underline;*/
}

.length {
	text-decoration: none;
	color: red;
}

output {
	font-family: monospace;
	display: block;
	background-color: black;
	color: limegreen;
	border: 2px solid grey;
	padding: 3px;
}