skills {
	display: block;
	margin: 15px 0;
}

skills ul {
	display: grid;
	grid-template-columns: 150px 1fr;
	gap: 10px;

}

skills li {
	clip-path: polygon(
    calc( 100% - var(--notchSize) ) 0,
    100% var(--notchSize), 
    100% 100%,
    0 100%,
    0 0
 	);
	clip-path: border-box;
	border: 2px solid white;
	padding: 3px;
	max-width: 150px;
}