skills {
	display: block;
	margin: 30px 0;
}

skills ul {
	margin-top: 15px;
	display: grid;
	grid-template-columns: 150px 150px 150px;
	gap: 10px;
}

skills li {
	--notchSize: 10px;
	clip-path: polygon(
    calc( 100% - var(--notchSize) ) 0,
    100% var(--notchSize), 
    100% 100%,
    0 100%,
    0 0
 	);
	clip-path: border-box;
	background-color: hsla(0, 0%, 0%, 20%);
	padding: 3px;
	max-width: 150px;
}

skills li:hover {
	background-color: var(--highlight);
	color: black;
}

@media (min-width: 600px) {
	skills ul {
		grid-template-columns: 150px 150px 150px 150px;
	}
}

@media (min-width: 900px) {
	skills ul {
		grid-template-columns: 150px 150px 150px 150px 150px;
	}
}