.call-to-action {
	background-color: var(--highlight-light);
	max-width: var(--standard);
	margin-left: auto;
	margin-right: auto;
	padding: var(--space-xlarge) 0;
	border-radius: var(--corners-rounder);
}

.call-to-action .action button {
	margin-top: var(--space-small);
	margin-left: auto;
	margin-right: auto;
}