.call-to-action {
	background-color: var(--highlight-light);
	max-width: var(--standard);
	margin-left: auto;
	margin-right: auto;
	padding: var(--space-xlarge) 0;
/*	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;*/
}

.call-to-action .action button {
	margin-top: var(--space-small);
	margin-left: auto;
	margin-right: auto;
}