.feature inner-column {
	display: flex;
	flex-direction: column;
	margin-top: var(--space-xxlarge);
}

@media (min-width: 800px) {
	.feature inner-column {
		flex-direction: row;
		align-items: flex-start;
		margin-top: 0;
		gap: var(--space-xlarge);
	}
}