.feature inner-column {
	display: flex;
	flex-direction: column;
	margin-top: var(--space-mobile-xlarge);
}

@media (min-width: 800px) {
	.feature inner-column {
		flex-direction: row;
		margin-top: var(--space-xlarge);
	}
}