section.hero {
	background-image: url("../../../images/background-diagonal-lines.png");
	height: 735px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hero .action {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--gap-medium);
	margin-top: var(--space-large);
}

@media (min-width: 600px) {
	.hero .action {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: var(--gap-medium);
		margin-top: var(--space-large);
	}
}