.template-1 .call-to-action inner-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 30px;
	gap: 25px;

	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: var(--primary-light);
}

.template-1 .call-to-action .header {
	margin-top: 20px;
	margin-bottom: 35px;
	max-width: 900px;
}

.template-1 .call-to-action .buttons {
	display: flex;
	flex-direction: column;
	gap: 12px;
	max-width: 175px;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 700px) {
	.template-1 .call-to-action inner-column {
		max-width: 1200px;

		padding: 60px 91px;
		gap: 48px;
		margin: 80px auto;
	}
}