.template-3 .faqs .heading .header {
	margin-bottom: 16px;
}

.template-3 .faqs .heading + .faqs-accordion {
	margin-top: 25px;
}

@media (min-width: 700px) {

	.template-3 .faqs {
		padding: 40px 60px;
	}

	.template-3 .faqs inner-column > * {
		max-width: 843px;
		margin-left: auto;
		margin-right: auto;
	}

	.template-3 .faqs .heading + .faqs-accordion {
		margin-top: 40px;
	}
}

@media (min-width: 900px) {
	.template-3 .faqs inner-column {
		display: flex;	
		gap: 20px;
	}

	.template-3 .faqs .heading {
		max-width: 50%;
		margin-top: auto;
		margin-bottom: auto;
	}
	.template-3 .faqs {
/*		padding: 80px 120px;*/
	}

}