.template-3 .hero {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: var(--primary);
}

.template-3 .hero inner-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


.template-3 .hero .header {
	max-width: 820px;
	margin: 0 15px;
	color: var(--ink);
	text-transform: uppercase;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 3.2px;
}

.template-3 .hero .teaser  {
	max-width: 733px;
	color: var(--ink);
	margin: 40px 15px 60px 15px;
}

.template-3 .hero .buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

@media (min-width: 700px) {
	.template-3 .hero {
		padding-top: 120px;
		padding-bottom: 195px;
	}

	.template-3 .hero .header {
		line-height: 70px;
	}
	.template-3 .hero .teaser  {
		margin-top: 25px;
		margin-bottom: 45px;
	}

	.template-3 .hero .buttons {
		flex-direction: row;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		gap: 30px;
	}
}

@media (min-width: 900px) {
	.template-3 .hero {
		padding-top: 170px;
		padding-bottom: 150px;
	}

	.template-3 .hero .header {
		font-size: 64px;
		line-height: 80px;
	}

	.template-3 .hero .teaser  {
		margin-bottom: 55px;
	}
}