.site-header {
	position: sticky;
	top: 0;
	z-index: 9;
	box-shadow: 0 2px 3px rgba(0,0,0,.3);
	background-color: var(--paper);
	border: 1px solid blue;
}

mast-head {
	display: flex;
	align-items:  center;
}

mast-head nav {
	flex-grow: 1;
	display: flex;
	margin: 0 15px;
	height: 25px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
}
nav ul {
	display: none;
}

.login {
	display: none;
	align-items: center;
}

@media (min-width: 655px) {
	nav ul {
		display: flex;
	}

	.menu {
		display: none;
	}

	.login {
		display: flex;
	}
}