.site-header {
	position: sticky;
	top: 0;
	z-index: 9;
	background-color: var(--paper);
	border: 1px solid blue;
}

mast-head {
	display: flex;
	align-items:  center;
	padding: 10px 0;
}

mast-head nav {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 15px;
	height: 25px;
}

nav ul {
	display: none;
}

.login {
	display: none;
	align-items: center;
}

@media (min-width: 725px) {
	mast-head {
		padding: 15px 95px;
	}

	nav ul {
		display: flex;
		gap: 10px;
	}

	.menu {
		display: none;
	}

	.login {
		display: flex;
	}

	.login span {
		margin-left: 8px;
		margin-right: 20px;
	}
}

@media (min-width: 850px) {
	mast-head {
		padding: 20px 120px;
	}

	nav ul {
		gap: 30px;
	}
}