<!doctype HTML>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<link rel='stylesheet' href='/site-minified.css'>
	<title>Document</title>
</head>


<body>
	<header>
		<inner-column>
			<div class='site-header'>
				<%- include('site-menu.ejs') %>
			</div>
		</inner-column>
	</header>
<main>