<%- include('header.ejs') %>

<section>
	<inner-column>
		<h1 class="loud-voice">Monsters Page</h1>

		<ul>
			<% monsters.forEach( function(monster) { %>
				<li>
					<%- include('monster-card.ejs', {monster}) %>	
				</li>
			<% }); %>
		</ul>
	</inner-column>
</section>

<%- include('footer.ejs') %>