/* P reset */
@import 'meyer-reset.css';

/* Setup */
@import 'setup.css';

/* Ssetings */
@import 'settings.css';
@import 'developer-styles.css';


/* Structure */
@import 'structure.css';

/* Typography */
@import 'typography.css';


/* Sections and more 
stuff */
@import 'components.css';
@import 'modules/modules.css';

@import 'footer.css';
@import 'header.css';

/* then other contextual styles */
body {
	background-color: var(--paper);
	color: var(--ink);
}

.heading {
	color: var(--highlight);
	margin: 50px 0;
}
