project-card {
	display: block;
	border:  2px solid yellow;
	padding: 5px;
	margin: 5px 0;
}

project-card h3 {
	font-weight: 700;
	text-transform: uppercase;
	padding: 5px 0;
}

figure {
	display: block;
}

