/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/* - - - - - - End OF MEYERS RESET - - - - - - */
body, body * {
	border: 1px dashed rgba(255,0,0,.3);
	font-family: Optima, Times New Roman;
/* 	margin: 10px; */
}
* {
	box-sizing: border-box;
}
h1 {
	font-size: clamp(40px, 6.5vw, 100px);
}

h2 {
	font-size: clamp(25px, 3vw, 70px);
	text-align: center;
}

em {
	font-weight: 600;
}
.inner-column {
	display: block;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

header img, footer img {
	max-width: 65px;
}



/* - - - - HEADER - - - -  */

header {
	padding: 15px;
	line-height: .9em;
	position: static;
	background-color: #7c9982;
	width: 100%;
}



nav {
	display: flex;
	flex-direction: column;
	font-size: 1em;
}

nav .logo {
	display: flex;
/*	justify-content: center;*/
}
.left {
	display: block;
	padding: 2px;

}

.right {
	display: block;
}


/* - - LARGE SCREEN - -  */

@media (min-width: 500px) {
	header {
		display: flex;
		position: sticky;
		top: 0;
/*		background-color: red;*/

	}

	nav {
		display: flex;
		justify-content: space-between;
		flex-direction: row;

		font-size: 1em;

	}
	.left {
		justify-content: flex-start;
		width: 45%;
	}

	.right {
		justify-content: flex-end;
		width: 45%;
	}

	li {
		line-height: 1.5em;
/*		align-items: center;*/
	}

	li + li {
		margin-left: 5px;
	}
}

/* - - - - TITLE - - - - */
.title h1 {
	text-align: center;
	margin: 30px;
}

/* - - - - HERO IMAGE - - - - */
.hero {
	margin-bottom: 10px;
}

/*@media (max-width: 450px) {
	.hero {
	visibility: collapse;
	height: 0px;
	}
}*/

/* - - - - GALLERY - - - - */
/*.gallery img {
	min-height: 150px;
	min-width: 150px;
}

.gallery .inner-column {
	display: flex;
	align-items: flex-start;
	flex-wrap: no-wrap;
	margin: 10px
	overflow-x: auto;
	overflow-y: hidden;
}

.gallery picture {
	padding: 0 10px;
}

.gallery h2 {
	padding: 5px 0;
}

.plant p {
	padding: 2px;
	margin-top: 5px;
}*/


/* - - - - GOOGLE MAP - - - - */
.map iframe {
	height: 100%;	
	width: 100%;
}

.map {
	margin: 20px 0;
}

/* - - - - FOOTER - - - - */
footer {
	padding-top: 25px;
	padding-bottom: 50px;
	background-color: #7c9982;
}
.logo-footer {
	display: flex;
	justify-content: center;
	margin: 5px 0;
}

.contact-hours * {
	padding: 2px 0;
}

.contact-hours {
	text-align: center;
}

.contact-hours h3 {
	font-weight: 600;
}