h2.menu {
	margin-bottom: 8px;
}

.menu-list {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	gap: 20px;
	flex-direction: column;
/*	overflow: scroll;*/
}

@media (min-width: 820px) {
	.menu-list {
		display: grid;
		gap: 25px;
		grid-template-columns: 1fr 1fr;
/*		overflow: hidden visible;*/
	}
}
