
call-to-action {
	display: block;
	/*border: 4px solid orange;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4vh 0;
	text-transform: uppercase;
}

call-to-action .button {
	margin-top: 20px;
}

cta-trio {
	display: block;
}

/*.symbol {
	width: clamp(50px, 5vw, 180px);
}*/

cta-trio picture {
	position: relative;
}

/* - - FONT STYLE - - */
cta-trio .loud-voice {
	text-shadow: 0 0 5px wheat;
	font-size: clamp(18px, 3vw, 70px);
}

@media (prefers-color-scheme: dark) {
	cta-trio .loud-voice {
	text-shadow: 0 0 5px black;
	}
} 

@media (min-width: 600px) {
	cta-trio {
		display: flex;
		flex-direction: row;
	}

	cta-trio .loud-voice {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}