info {
	display: block;
}
.actor-info {

}

.actor-info inner-column {

}
.actor-info .portrait {
	max-width: 500px;
}
@media (min-width: 600px) {
	.actor-info inner-column {
		display: flex;
		flex-direction: row;
	}
}