
html {
	--darkest: #111111;
	--lightest: #FFF;

	--shadow: rgba(221, 53%, 24%, 1);


	--corners-standard: 5px;
	--corners-xround: 10px;

	--standard: 1140px;
	--tight: 800px;
	--wide: 98vw;

	--paper: hsla(0, 0%, 100%, 1.00);
	--background: hsla(0, 0%, 100%, 1.00);

	--ink: black;
	--highlight: hsla(306, 92%, 61%, 1.00);  
	--contrast: hsla(178, 100%, 54%, 1.00);  
	--alternate: hsla(0, 0%, 35%, 1); 
	--trim: hsla(0, 0%, 76%, 1.00);
	--standout: hsla(0, 0%, 96%, 1.00); 

	--link: red;

	--tilt-small: -3deg;
	--tilt: -4deg;
	--tilt-large: -6deg;

	--border-thin: 1px;
	--border-med: 3px;
	--border-thick: 5px;
}

@media (prefers-color-scheme: dark) {
	html {
		--paper: hsla(0, 0%, 4%, 1);
		--ink: hsla(50, 70%, 80%, 1);
		--background: hsla(189, 20%, 12%, 1);
		/*--contrast:  black;*/
		--trim: hsla(60, 7%, 40%, 1);
		--lightest: #FFF;
/*		--standout: hsla(170, 56%, 49%, 1);*/
	}

	@media (min-width: 700px) {
		html {
			--ink: hsla(50, 100%, 86%, 1);
		}
	}
}

