
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* be at least a full viewport height */
} 

main {
	flex-grow: 1; /* fill up available space + push the footer down */
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-gap: 5px;
}

inner-column {
	display: block;
	max-width: var(--tight); /* could be a variable in settings */
	margin-right: auto;
	margin-left: auto;
	padding: 0 5px;
}

@media (min-width: 600px) {
	inner-column {
		width: var(--tight);
	}
	.heading inner-column {
		width: var(--wide);
		text-align: center;
	}
}

inner-column.tight {
	max-width: var(--tight);
}

.site-header {
	position: sticky;
	top: 0;
	z-index: 5;
}
