@import 'meyer-reset.css';

* {
	box-sizing: border-box;
}

body * {
	border:  3px solid rgba(0,0,0,.5);
}
body {
	background-color: #d4dffd;
}

picture {
	display: block;
}

picture img {
	display: block;
	width:  100%;
	height:  auto;
}

nav {
	height: 100px;
}