/* Should we pull in @fonts here? */
html {
	--marker: Permanent Marker;
	--sans-serif: Rubik, Helvetica;
	--serif: Old Standard TT, Times New Roman;

	--paper: hsl(37, 32, 92);
	--paper-dark: hsl(28, 17%, 30%);

	--ink-red: hsl(360, 100%, 39%);
}

a {
	font-family: var(--sans-serif);
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: .2rem;
}


a:hover {
	text-decoration: underline;
}

/* Main header or banner text or similar */
.screaming-voice {

}

/* Header text or similar */
.loud-voice {

}
/* Sub-header text or similar */
.attention-voice {

}

/* Paragraph text or similar */
.normal-voice {

}

/* Caption text or similar */
.calm-voice {

}

/* Fine print text or similar */
.quiet-voice {

}

@media (min-width: 600px) {
	
}


