@import 'meyer-reset.css';
@import 'typography.css';
@import 'header.css';
@import 'goals-cards.css';
@import 'footer.css';


/* - - - SITE STRUCTURE - - - */
* {
	box-sizing: border-box;
}

picture {
	display: block;
}

img {
	display: block;
	width:  100%;
	height:  auto;
}

nav {
	height: 100px;
}


* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

li {
	list-style-type: disc;
	line-height: 1.4rem;
	margin-left: 20px;
}	

@media (min-width: 700px) {
	li {
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;	
	}
}

inner-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	/*height: 100vh;*/
	gap: 30px;
	padding: 40px 0;
}





