html {
	--paper: rgba(100,100,100,.5);
	background-color: var(--paper);
}

form, form-field {
	display: grid;
	gap: 20px;
}

form {
	max-width: 300px;
}

form input {
	font: inherent;
	padding: 5px;
}

.complete {
	opacity: 0.4;
}