.site-menu a {
	text-transform: uppercase;
	margin: 0 5px;
	
}

.site-menu {
	display: flex;
	justify-content: flex-end;
}

.site-header {
	position: sticky;
	top: 0;
	background-color: var(--paper);

}

.site-header inner-column {
	padding: 0;
}