/* - - - HEADER - - - */
header {
/*	width: 100%;
	padding-top: 50px;
	padding-bottom: 20px;
	border-top: 5px solid var(--highlight);
	margin: 30px 0;
	text-align: center;*/
}


.site-header {
	align-items:  center;
	position: sticky;
	top: 0;
	z-index: 9;
	box-shadow: 0 2px 3px rgba(0,0,0,.3);
	background-color: var(--paper);
	width: 100%;
}

.site-header nav {
	flex-grow: 1;
	display: flex;
	height: 40px;
}

.site-header ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
	gap: 10px; 
}

.site-header li {
	padding: 10px;
	list-style-type: none;
}

.logo {
	max-width: 60px;
	margin: 10px 0;
}

.logo svg path:hover {
	fill: var(--highlight);
}

.site-header nav a {
	font-size: .8rem;
}
/* - - - HEADER LARGE SCREEN - - - */
@media (min-width: 600px) {
	inner-column .site-header {
		height: 50px;
	}

	.site-header nav {
		height: 60px;
		margin: 0 15px;
	}

	.site-header nav a {
		font-size: 1rem;
	}

	.logo {
		max-width: 70px;
	}
}

@media (min-width: 900px) {
	.site-header nav a {
		font-size: 1.1rem;
	}
}
