
html {
	--black: #111111;
	--white: #FFF;

	--shadow: rgba(0,0,0,.8);

	--corners: 10px; /* or whatevers */

	--standard: 1140px;
	--tight: 800px;
	--wide: 90vw;
	--extra-wide: 98vw;

	--paper: hsl(37, 32%, 92%); /* light brown */
	--ink: black;

	--highlight: hsl(360, 100%, 39%); /* red */
	--accent-color: #17F0E3;  /* dark purple */

	--think: 5px;
	--thin: 2px;
	--pencil: 1px;
}

@media (prefers-color-scheme: dark) {
	html {
		--paper: hsl(28, 17%, 30%); /* dark brown */
		--ink: white;
		--highlight: yellow;
		 /* light purple */
	}

	.logo {
		fill: white;
	}
}
