
/* Setup */
@import 'setup.css';

/* Ssetings */
@import 'settings.css';

/* Structure */
@import 'structure.css';

/* Typography */
@import 'typography.css';

/* LAYOUT PAGES */
@import 'layouts/layout1.css';
@import 'layouts/layout2.css';

/* Sections and more stuff */
@import 'footer.css';
@import 'header.css';

@import 'header-card.css';

/* then other contextual styles */


/* SETUP CSS */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

p a {
	display: inline;
	color: blue;
	text-decoration: underline;
}

picture {
	display: block;
	overflow: hidden;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

svg {
  display: block;
  width: 100%;
}

body {
	background-color: var(--paper);
	color: var(--ink);
}



