
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* be at least a full viewport height */
} 

main {
	flex-grow: 1; /* fill up available space + push the footer down */
}

inner-column {
	max-width: var(--standard);
	padding: 0 10px;
}

main inner-column, footer inner-column {
	display: block;
	max-width: var(--standard);  
	margin-right: auto;
	margin-left: auto;
}


article {
	display: block;
}
