@import 'meyer-reset.css';
@import 'site.css';

* {
	box-sizing: border-box;
}

header {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 20px;
	border-top: 5px solid var(--highlight);
	margin: 30px 0;
	text-align: center;
}

