
html {
	--marker: Permanent Marker, Noto Serif;
	--sans-serif: Encode Sans, Helvetica;
	--serif: Noto Serif Display, Old Standard TT, Times New Roman;

	
}
a {
	font-family: var(--sans-serif);
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: .2rem;
}


a:hover {
	text-decoration: underline;
	color: var(--highlight);
}

@media (prefers-color-scheme: dark) {
	a:hover {
		color: var(--highlight);
	}
}
/* Main header or banner text or similar */
.screaming-voice {
	font-family: var(--marker);
	font-size: clamp(60px, 8vw, 160px);
}

/* Header text or similar */
.loud-voice {
	font-family:  var(--sans-serif);
	font-size: 26px;
	font-weight: 700;
}
/* Sub-header text or similar */
.attention-voice {
	font-family:  var(--sans-serif);
	font-weight: 700;
	font-size: 20px;
}

/* Paragraph text or similar */
.normal-voice {
	font-family:  var(--sans-serif);
}

/* Caption text or similar */
.calm-voice {
	font-family:  var(--sans-serif);
}

/* Fine print text or similar */
.quiet-voice {

}
@media (min-width: 600px) {
	.loud-voice {
	
	}
}

.attention-voice	{

}

/* - - ARTICLE CARD - - */
.title {
	/*font-family: var(--serif);
	text-transform: uppercase;
	font-size: clamp(1rem, 2vw, 1.4rem);*/
	/*font-style: italic;*/
}


