.feature-list {
	display: flex;
	flex-direction: column;
	margin-top: var(--space-mobile-xlarge);
}

feature-card {
	display: flex;
	align-items: flex-start;
	gap: var(--space-mobile-medium);
}

feature-content {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--space-mobile-large);
}

feature-content h3 {
	text-transform: capitalize;
}

feature-card number-icon {
	display: block;
}

@media (min-width: 800px) {
	feature-card {
		gap: var(--gap-narrow);
	}
	feature-content {
		gap: var(--xxsmall);
		margin-bottom: var(--space-xsmall);
	}
}