.feature-list {
	display: flex;
	flex-direction: column;
	margin-top: var(--space-xlarge);
	gap: var(--space-small);
}

feature-card {
	display: flex;
	align-items: flex-start;
	gap: var(--space-medium);
}

feature-content {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--space-large);
}

feature-content h3 {
	text-transform: capitalize;
}

feature-card number-icon {
	display: block;
}

@media (min-width: 800px) {
	.feature-list {
		display: flex;
		flex-direction: column;
		margin-top: 0;
	}

	feature-card {
		gap: var(--gap-medium);
	}

	feature-content {
		gap: var(--xxsmall);
		margin-bottom: var(--space-xsmall);
	}
}