footer {
	background-color: var(--highlight-dark);
	padding: var(--space-xlarge) 0;
}
site-map {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns:  1fr 1fr 1fr ;
	margin: 0 var(--space-medium);
	
}

.product {
	grid-row: 1;
	grid-column: 1;
}

.information {
	grid-row: 1;
	grid-column: 2;
}

.company {
	grid-row: 1;
	grid-column: 3;
}

subscribe-box {
	grid-row: 2;
	grid-column: 1 / span 3;
	margin-left: 20px;
}

site-map h4 {
	color: var(--ink-contrast);
	margin-bottom: var(--space-xsmall);
}

site-map ul {
	padding-top: var(--space-medium);
}

site-map li {
	color: var(	--ink-contrast-soft);
	margin-bottom: var(--space-xxsmall);
}

site-map h4 {
	font-weight: 700;
}

@media (min-width: 750px) {
	site-map {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	
	.product {
		grid-column: 1;
	}

	.information {
		grid-column: 2;
	}

	.company {
		grid-column: 3;
	}

	subscribe-box {
		grid-row: 1;
		grid-column: 4;
		margin-left: 0;
	}	
}

/*- - BOTTOM HALF OF FOOTER - - */
footer-requirements {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 1px solid hsla(0, 0%, 100%, 0.06);
	margin-top: var(--space-large);
	padding-top: var(--space-large);
}

footer-requirements logo {
	display: block;
	min-width: 150px;
}

legal-links {
	display: flex;
	gap: var(--space-medium);
	margin: var(--space-large) 0;
	color: var(--ink-contrast);
}

legal-links a:hover {
	color: var(--ink-contrast);
}

social-links {
	display: flex;
	gap: var(--space-xsmall);
}


