.video {
	display: flex;
	justify-content: center;
}

.video video {
	max-width: 926px; 
	max-height: 520px;
}

@media (min-width: 600px) {
	.video video {
		margin: 60px 0;
		width: 926px; 
		height: 520px;
	}

}
