	item-card.menu {
	background-color: var(--standout);
	box-shadow: 2px 5px var(--trim);
	border-radius: var(--corners-standard);
	padding: 16px 20px;
	margin-bottom: 5px;
	color: black;
	cursor: pointer;
	max-width: 500px;
	max-height: 300px;
	gap: 8px 15px;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr auto;
}

item-card.menu .link {
	grid-column: 2;
	grid-row: 3;
}

item-card.menu .name {
	grid-column: 1;
	grid-row: 1;
	width: max-content;
}

item-card.menu .price {
	grid-column: 2;
	grid-row: 1;
	text-align: right;
/*	width: max-content;*/
}

item-card.menu .description {
	grid-column: 2;
	grid-row: 2;
	text-align: right;
}
item-card.menu .link:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(100, 100, 50%, .2);
}

item-card:focus-within {
	border: 5px solid purple;
}
item-card.menu .thumbnail {
	max-width: 140px;
	max-height: 120px;
/*	grid-row: 1 / span 4;*/
	border-radius: var(--corners-xround);
	aspect-ratio: 1 / 1;
	overflow: hidden;
	grid-column: 1;
	grid-row: 2 / span 2;
}

.thumbnail img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

item-card.menu button {
	grid-column: 2;
	grid-row: 2;
	background-color: var(--contrast);
/*	opacity: 0;*/
}

@media (min-width: 390px) {
	item-card.menu {
		grid-template-areas:
			"name price"
			"image description"
			"image button"
			"image .";
	}

	item-card.menu .thumbnail {
		max-width: 220px;
		max-height: 200px;
	}
}


@media (min-width: 820px) {
	item-card.menu {
		grid-template-columns: max(120px) 1fr;
		gap: 10px 18px;
		height: 240px;
	}
}

@media (prefers-color-scheme: dark) {
	item-card.menu {
		box-shadow: none;
	}
}



























































