form {
	display: flex;
	flex-direction: column;
	gap: 25px;
	max-width: 200px;
	margin-bottom: 20px;
}

output {
	display: block;
	margin-top: 20px;
	border: 2px solid black;
	max-width: 190px;
	padding: 5px;
}