@import 'meyer-reset.css';
@import 'setup.css';
@import 'settings.css';
@import 'structure.css';
@import 'typography.css';

/* - - MODULES - - */
@import 'modules.css';

body {
	background-color: var(--paper);
	color: var(--ink);
}

main {
	border: 1px solid limegreen;
}


.todo {
	color: red;
}

.about-me, .interests {
	background-color: var(--ink);
	color: var(--paper);
}

.site-header {
	position: sticky;
	top: 0;
	background-color: var(--paper);
}

.site-footer .site-menu {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}