@import 'meyer-reset.css';
@import 'setup.css';
@import 'settings.css';
@import 'structure.css';
@import 'typography.css';

/* - - MODULES - - */
@import 'modules.css';

body {
	background-color: var(--paper);
	color: var(--ink);
}

main {
	border: 1px solid limegreen;
}


.todo {
	color: red;
}

.about-me, .interests {
	background-color: var(--ink);
	color: var(--paper);
}


.site-footer .site-menu {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5px;
}

.projects-grid .project-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 20px;
}

.home-page {
	background-color: #d79bf3;
}

.default-template {
	--paper: #444444;
	--ink: yellow;
}

.resume-template {
	--paper: #444444;
}

.goals-page {
	--paper: #444444;
	--ink: #33006f;
}