graphic-diptych .loud-voice {
	margin: 10px 0;
}

graphic-diptych {
	display: block;
	display: grid;
	padding: 4vh 0;
}

@media (min-width: 600px) {
	graphic-diptych {
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}

	graphic-diptych .loud-voice {
	margin: 0;
	}

	graphic-diptych.flipped picture {
		order: 2;
	}
}