.template-3 .faq-card {
	max-width: 843px;
	padding: 10px 7.5px;
	box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.15);
}

.template-3 .faq-card + .template-3 .faq-card {
	margin-top: 15px;
}

.template-3 .faq-card summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	cursor: pointer;
}

.template-3 .faq-card :is(.question, .answer) {
	max-width: 90%;
}

.template-3 .faq-card .arrow {
	width: 24px;
	height: 24px;
}
.template-3 .faq-card .arrow svg {
	max-width: 12px;
	max-height: 24px;
}

.template-3 .faq-card details[open] > summary .arrow {
	transform: rotate(-90deg);
}

@media (min-width:700px) {
	.template-3 .faq-card {
		padding: 20px 0;
	}
	.template-3 .faq-card :is(.question, .answer) {
		max-width: 100%;
	}

	.template-3 .faq-card .answer {
		margin-top: 24px;
	}
}