.template-2 review-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 14px;

	max-width: 800px;
	max-height: 323px;
	text-align: center;
	margin-top: 20px;
}

.template-2 review-card .review {
	font-size: clamp(26px, 5vw, 40px);
	font-weight: 500;
	line-height: 40px;
	letter-spacing: 0.2px;
	max-width: 800px;
}
.template-2 client-details {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
	gap: 10px;
	margin: 15px 0;
}

.template-2 client-details img {
	max-width: 40px;
	margin-top: 10px;
	margin-bottom: 8px;
}

.template-2 client-details .contact {
	color: var(--ink-medium);
}

@media (min-width: 700px) {
	.template-2 review-card {
		gap: 27px;
	}
	
	.template-2 review-card .review {
		line-height: 56px; 
	}

	.template-2 client-details {
		margin-top: 25px;
	}
	
	.template-2 client-details img {
		margin-top: 15px;
	}
}

