@import 'meyer-reset.css';
@import 'setup.css';
@import 'settings.css';
@import 'typography.css';

/* - - PAGES - - */
@import 'pages/pages.css';

/* - - MODULES - - */
@import 'modules.css';

* {
	box-sizing: border-box;
}

html {
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: var(--paper);
	color: var(--ink);
	min-height: 100vh;
	font-family: var(--sans-serif);
	margin-left: auto;
	margin-right: auto;
}
