
call-to-action-b {
	/*display: block;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	/*padding: 4vh 0;*/
	text-transform: uppercase;
}

call-to-action-b .button {
	margin-top: 20px;
	max-width: 250px;
}

