
site-map {
	display: block;
	/*border: 4px solid green;*/

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-gap: 20px;

	padding: 10vh 0 15vh;
	text-align: center;
}

site-map .logo {
	max-width: 180px;
	margin-bottom: 20px;
}

site-map .logo * {
	fill: var(--ink);
}

site-map h3 {
	margin-bottom: 20px;
}
