
articles-intro {
	display: block;
	/*border: 4px solid purple;*/
	padding: 10vh 0;
}

articles-intro header {

}

article-grid {
	display: block;
	margin-top: 60px;
}

article-grid ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-gap: 60px 20px;
}
