
html {
	--black: #111111;
	--white: #FFF;

	--color: #5E321F;
	--highlight: #aadee9;

	--shadow: rgba(0,0,0,.8);

	--corners: 10px; /* or whatevers */

	--standard: 1440px;
	--tight: 800px;
	--wide: 95vw;

	--paper: hsl(37, 32%, 92%); /* light brown */

	--ink-dark: #212121;
	--ink-medium: #424242;
	--ink-light: #616161;
	--ink: white;

	--primary: #3563E9;

	--font-small: 14px;
	--font-med: 16px;
	--font-large: 18px;
}

@media (prefers-color-scheme: dark) {
	html {
/*		--paper: #2851E3;*/
		--ink: white;
	}

	.logo {
		fill: white;
	}
}
