
html {
	--marker: Permanent Marker, Noto Serif;
	--company-font: Inter, Encode Sans, Helvetica;
	--serif: Noto Serif Display, Old Standard TT, Times New Roman;
	font-family: var(--company-font);
}

a {

}

a:hover {
	text-decoration: none;
	color: var(--highlight);
}

a:active {
	font-weight: 700;
}

/* Main header or banner text or similar */
.screaming-voice {
	font-size: 64px;
	font-weight: 700;
	line-height: 77.45px;
	color: var(--ink-dark);
}

/* Header text or similar */
.loud-voice {
	font-size: 56px;
	font-weight: 600;
	color: var(--ink-dark);
}

/* Sub-header text or similar */
.attention-voice {
	font-size: 48px;
	font-weight: 600;
	color: var(--ink-dark);
}

/* Paragraph text or similar */
.normal-voice {
	font-size: 16px;
	font-weight: 400;
	color: var(--ink-medium);
}

/* Caption text or similar */
.calm-voice {
	font-size: 14px;
	font-weight: 200;
}

/* Fine print text or similar */
.quiet-voice {

}

mast-head a {
	font-size: 14px;
	font-weight: 500;
   line-height: 16.94px;
   letter-spacing: .2px;
   color: var(--ink-medium);
}

mast-head .active {
	font-weight: 5700;
	color: var(--highlight);
}

.login span {
		font-size: 16px;
		font-weight: 700;
/*		line-height: 19.36px;*/
		letter-spacing: 0.2px;
		color: var(--ink-light);
}
/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
/* or smaller group of article-like styles such as a <text-content> custom element */
p + p {
	margin-top: ;
}

h2 + p {
	margin-top: ;
}