monster-card {
	display: grid;
	border: 2px solid black;
	
	picture {
		aspect-ratio: 1 / 1;
		max-width: 300px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.adopted {
		border: 2px solid red;
	}

	&.green {
		background-color: hsla(275, 28%, 33%, 1.00);
	}

	&.red {
		background-color: hsla(98, 46%, 47%, 1.00);
	}

	&.orange {
		background-color: hsla(203, 86%, 38%, 1.00);
	}

	&.purple {
		background-color: hsla(38, 94%, 59%, 1.00);
	}

	&.blue {
		background-color: hsla(354, 56%, 57%, 1.00);
	}
}	