html {
	--sans-serif: UniSans Book, Helvetica;
	--open-sans: Open Sans, Helvetica;
}

/* - H1 - */
.shout-voice {
	font-family: var(--sans-serif);
	font-size: clamp(2rem, 5vw, 5rem);
	font-weight: 700;
}
/* - H2 - */
.loud-voice {
	font-family: var(--sans-serif);
	font-size: 1.2rem;
	font-weight: 700;
}
/* - H3 - */
.attention-voice {
	font-family: var(--sans-serif);
	font-size: 1rem;
	font-weight: 700;
}

/* - H4 - */
.alert-voice {
	font-family: var(--sans-serif);
	font-size: 1rem;
}

/* - P - */
.normal-voice {
	font-family: var(--open-sans);
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.2rem;
}

.quiet-voice {
	font-family: var(--open-sans);
	font-size: .8rem;
}

