/* TYPOGRAPHY */
.layout5 .loud-voice {
	font-family: var(--sans-serif);
	font-size: clamp(1rem, 4vw, 1.5rem);
	font-weight: 500;
	line-height: 1.2;
}

.layout5 .author {
	font-size: .8rem;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--ink);
}



/* HEADING */
.layout5 .module-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: 1px solid var(--ink);
}

.layout5 module-heading h2 {
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 700;
}

.layout5 icon-arrow {
	display: block;
	max-width: 30px;
}

/* ARTICLE LIST */
.layout5 .article-grid {
	display: grid;
	gap: 20px;
}
.layout5 .article-grid li {
	border: 1px solid var(--ink);
}

.layout5 :is(.wide) {
	display: none;
}

/* FEATURE ARTICLE */
.layout5 .feature-article {
	display: flex;
}

.layout5 .feature-snippet {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 15px;
	gap: 15px;
}

.layout5 :is(.feature-article .landscape, .feature-intro) {
	display: none;
}

@media (min-width: 700px) {
	.layout5 .article-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 20px;
	}

	.layout5 .feature-article {
		grid-row: 1;
		grid-column: 1 / span 3;
	}

	.layout5 .feature-article {
		justify-content: space-between;
	}

	.layout5 .feature-image.portrait {
		display: none;
	}
	.layout5 :is(.feature-image.landscape, .feature-intro) {
		display: block;
	}

	.layout5 .feature-snippet {
		gap: 20px;
	}
}


/* ARTICLE CARDS*/
.layout5 .article-intro {
	display: none;
}

.layout5 .article-snippet {
	margin: 15px;
}

.layout5 h2 {
	margin-bottom: 15px;
}

@media (min-width: 700px) {
	.layout5 .article-intro {
		display: block;
		margin-bottom: 15px;
	}
}






