.layout4 inner-column {
	display: flex;
	flex-direction: column;
}

.layout4
.layout4 p {
	line-height: 1.6rem;
}
/* INTRO */
.layout4 .teaser {
	display: block;
	color: var(--highlight);
	font-weight: 700;
	margin-top: 40px;
}

.layout4 intro * {
	margin: 10px 0;
}
.layout4 intro {
	margin-bottom: 50px;
}
/* ARTICLE CARDS SET 1 */
.layout4 .article-card * {
	padding: 5px 0;
}

.layout4 .article-card h3 {
	border-bottom: 1px solid black;
}
summary {
	list-style: none;
	cursor: pointer;
	/*border-bottom: 1px solid black;*/
}

.layout4 .article-card {
	position: relative;
}
.layout4 details > summary h3::after {
	cursor: pointer;
	content: "+";
	position: absolute;
	right: 15px;
	transform: translateY(-2px);
}

.layout4 details[open] > summary:after {
	content: "-";

}

@media (min-width: 550px) {
	.layout4 details > summary:after {
	right: 40px;
	}
}

@media (min-width: 900px) {
	.layout4 inner-column {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		/*gap: 20px;*/
		margin-left: auto;
		margin-right: auto;
	}

	.layout4 details > summary h3::after {
		/*right: 50px;*/
	}

	
	.layout4 intro, .layout4 article {
		width: 50%;
	}	

	.layout4 intro *{
		max-width: 80%;
	}
}