.layout1 intro {
	padding: 40px 0;
}

.layout1 intro p {
	margin-top: 10px;
}

.layout1 grid-component {
	display: grid;
	gap: 10px;
}

.layout1 full-grid, intro, article{
	display: block;
}


.layout1 picture {
	margin: 10px 0;
	/*border: 5px solid blue;*/
}

.layout1 picture img {
	display: block;
	width:  100%;
	height:  auto;
	margin: 5px 0;
}


.layout1 article p {
	margin: 10px 0;
}

.layout1 article li {
	border-top: 1px solid grey;
	margin: 15px 0;
	padding: 15px 0;
}

.layout1 .images {
	margin: 10px 0;
	border: 1px solid black;
	align-self: start;
}


.layout1 thumbnail {
	display: block;
	padding: 10px 0;
}

.layout1 thumbnail img {
		max-width: 50px;
}

@media (min-width: 600px) {
	.layout1 inner-column picture, .layout1 article {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
		margin: 0;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 900px) {

	.layout1 inner-column {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: var(--wide);
		margin-left: auto;
		margin-right: auto;
	}

	.layout1 intro {
		grid-column: 1/2;
	}
	.layout1 article {
		grid-column: 1/2;
	}
	
/*inner-column {
	border: 2px solid red;
}

image-grid {
	border: 2px solid blue;
}

article {
	border: 2px solid orange;
}

intro {
	border: 2px solid green;
}*/