/* P reset */
@import 'meyer-reset';

/* Setup */
@import 'setup';

/* Ssetings */
@import 'settings';
@import 'developer-styles';


/* Structure */
@import 'structure';

/* Typography */
@import 'typography';


/* Sections and more 
stuff */
@import 'modules/modules';

@import 'footer';
@import 'header';

/* then other contextual styles */
body {
	background-color: var(--paper);
	color: var(--ink);
}

.heading {
	color: var(--highlight);
	margin: 50px 0;
}

picture {
	max-width: 500px;
}